@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;

  position: relative;
  background-size: cover;
  background-position: 50%;
  background-color: #111;
}

.h-img {
  height: calc(100vh - 80px);
}

.box {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

.svg-image {
  fill: #ffffff; /* Change this to the desired color */
}

.square {
  position: absolute;
  content: "";
  background-color: white;
  height: 180%;
  width: 1px;
  top: 100%;
  left: 50%;
}

circle {
  transition: all 0.7s ease-in-out;
}

/* scroll bar  */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #414141;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@keyframes come-in {
  0% {
    opacity: 0;
  }
  30% {
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    transform: translateX(0px) scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



.floating-container:hover .element-container .float-element:nth-child(1) {
  animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
  animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
  animation: come-in 0.4s forwards 0.6s;
}

.floating-container:hover .element-container .float-element:nth-child(4) {
  animation: come-in 0.4s forwards 0.8s;
}
