<section>
    <div class="row header">
        <div class="col-6 font-700 header-menu-item">
            <div class="header-logo">Kojo</div>
        </div>
        <div class="col-6 d-flex justify-content-evenly font-700">
            <div class="header-menu-item">
                <p>Main</p>
            </div>
            <div class="header-menu-item">
                <p>About</p>
            </div>
            <div class="header-menu-item">
                <p>Skill</p>
            </div>
            <div class="header-menu-item">
                <p>Contact</p>
            </div>
        </div>
    </div>
</section>