<section>
    <div class="row">
        <div class="col-6 d-flex flex-column justify-content-evenly">
            <div class="">
                <div class="intro-main-content">
                    <h3>Hey There My Name is Long,</h3>
                    <h3>Programer, Graphic Designer And</h3>
                    <h3>Product Manager.</h3>
                </div>
            </div>
            <div class="intro-sub">
                <p>I love Cannvection Branding And Companies With Thier Customer</p>
                <p>Through And I Can Help You With Clean Front-End Programing</p>
                <p>Team And Graphic Design. I Think Enough About Me, How Can I Help You?</p>
            </div>
            <div class="d-flex gap-5">
                <div>Get CV</div>
                <div><i class='bx bxl-github'></i></div>
                <div><i class='bx bxl-instagram' ></i></div>
                <div><i class='bx bxl-linkedin-square'></i></div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            {% load static %}
            <img class="img-avatar" src="{% static 'img/avatar.jpg' %}" alt="avatar">
        </div>
    </div>
</section>