<section>
    <div class="main-title text-center">Skill</div>
    <div class="d-flex flex-wrap justify-content-center align-items-center gap-5">
        <div class="item">
            {% load static %}
            <img src="{% static 'img/nodejs.png' %}" />
            <div class="item-title">Nodejs</div>
        </div>
        <div class="item">
            {% load static %}
            <img src="{% static 'img/vue.png' %}" />
            <div class="item-title">VueJS</div>
        </div>
        <div class="item">
            {% load static %}
            <img src="{% static 'img/react.png' %}" />
            <div class="item-title">ReactJS</div>
        </div>
        <div class="item">
            {% load static %}
            <img src="{% static 'img/django.png' %}" />
            <div class="item-title">DJANGO</div>
        </div>
        <div class="item">
            {% load static %}
            <img src="{% static 'img/spring.png' %}" />
            <div class="item-title">SPring</div>
        </div>
    <div>
</section>